@import 'work';

$cambio-light-green:    #5CA00B;
$cambio-forest-green:   #177F07;
$cambio-orange:         #F09D17;

h1 {
  padding-top: $space--medium;
  padding-bottom: $space--medium;
  font-family: $font--main;
}

.bold-content {
  background-color: $cambio-light-green;
  color: $color--white;
  text-align: center;

  h1, 
  h3,
  h2,
  p,
  li {
    color: $color--white;
  }
}

.orange-content {
  background-color: $cambio-orange;
}

.image-row {
  padding-bottom: $space--base;
  margin-right: auto;
  margin-left: auto; 
  max-width: 950px;

  img {
    -moz-box-shadow:    $shadow--image;
    -webkit-box-shadow: $shadow--image;
    box-shadow:         $shadow--image;

    height: 100%;
    width: 100%;
  }
}

.carousel {
  padding-bottom: $space--base;

  img {
    width: 30%;
  }

  span {
    color: $color--white;
    font-size: 2em;
  }
}

.parallax {
  background-image: url("../images/cambio/cambio_card.jpg");
}

.green-overlay {
  background-color: rgba($cambio-forest-green, 0.5);

  width: 100%;
  height: 100%;
}

#intro {
  h2 {
    color: $color--white;
    padding-top: 0; 
  }
}

#protoype {
  width: 100%;
  
  @media (min-width: $breakpoint--medium) {
    margin-top: -5em;
  }
}

#role {
  p {
    padding-bottom: 0;
  }

  li {
    margin-bottom: $space--small;
  }
}

#wireframeCaptions {
  span {
    color: $cambio-forest-green;
  }
}

#styleguide {
  // width: 100%;

  -moz-box-shadow:    $shadow--image;
  -webkit-box-shadow: $shadow--image;
  box-shadow:         $shadow--image;
  
  
}

#branding {
  .flex-md-column img {
    -moz-box-shadow:    $shadow--image;
    -webkit-box-shadow: $shadow--image;
    box-shadow:         $shadow--image;
    width: 40%;

    @media (min-width: $breakpoint--medium) {
      width: 100%;
    }
  }
}

.logo {
  width: 25%;

  img {
    width: 100%;

    -moz-box-shadow:    $shadow--image;
    -webkit-box-shadow: $shadow--image;
    box-shadow:         $shadow--image;
  }
}

#solution {
  .image-row img {
    width: 100%;
    margin-top: -25%;

    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;

    @media (min-width: $breakpoint--medium) {
      width: 80%;

      &:first-child {
        margin-top: -20em;
        margin-left: -8em;
      }
  
      &:last-child {
        margin-top: 0;
        margin-left: -28em;
        margin-right: -10em;
      }
    }
  }

  #icons {
    width: 50%;
    margin-top: -10%;
    padding-bottom: $space--base;
    
    @media (min-width: $breakpoint--medium) {
      width: 25%;
      margin-top: -10em;
    }
  }
}

#landing {
  
  @media (min-width: $breakpoint--medium) {
    .carousel-control-prev {
      margin-left: 10em;
    }
    
    .carousel-control-next {
      margin-right: 10em;
    }
  }
}

#activation img {
  padding-right: 0;
  
  &:first-child {
    margin-right: $space--base;
  }
}

#user-profile {

  @media (min-width: $breakpoint--medium) {
    img:first-child {
      vertical-align: top;
      margin-left: -10em;
      margin-right: -7em;
      margin-top: -5em;
      width: 70%;

      -moz-box-shadow:    none;
      -webkit-box-shadow: none;
      box-shadow:         none;
    }

    img:last-child {
      width: 55%;
    } 
  }
}

#jobs {
  img {
    width: 30%;
    -moz-box-shadow:    $shadow--image;
    -webkit-box-shadow: $shadow--image;
    box-shadow:         $shadow--image;
  }

  .carousel {
    margin-top: $space--base;
    padding-bottom: 0;

    .carousel-indicators {
      margin-bottom: 0;
    }

    .carousel-item {
      padding-bottom: 6em;
    }

    .carousel-caption {
      z-index: 0;
    }

    .carousel-item:last-child .carousel-caption {
      bottom: -1em;
    }

    .carousel-control-next,
    .carousel-control-prev {
      bottom: 7em;
    }

    span {
      color: $cambio-forest-green;
      font-size: 2em;
    }

    img {
      width: 60%;
    }
  }
}