@import 'base';

#nav {
  -moz-box-shadow:    0px 3px 7px -5px $color--black;
  -webkit-box-shadow: 0px 3px 7px -5px $color--black;
  box-shadow:         0px 3px 7px -5px $color--black;
}

#nav, 
#footer {
  background-color: $color--white;
  border: none;
  color: $color--black;
}

#password-prompt {
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.blocked {
  display: none;

  &#footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

h2 {
  padding-bottom: $space--small;
  padding-top: $space--small;
  margin: 0;
}

h3 {
  padding-top: 0;
}

h2,
h3 {
  text-align: center;
  color: $color--gray;
}

p,
li {
  color: $color--gray;
}

.content {
  ul {
    list-style-type: none;
    
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.copy-content {
  text-align: center;
  padding-bottom: $space--base;
  margin-right: auto;
  margin-left: auto; 
  max-width: 770px;
}

.parallax {
  height: 70vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}