@import 'base';

.cambio-content {
  padding-top: 5.5em;

  h1 {
    font-family: $font--main;
  }

  h2 {
    padding-bottom: $space--small;
    padding-top: $space--small;
    margin: 0;

    & + h3 {
      padding-top: 0;
    }
  }

  h3 {
    padding-top: $space--base;
  }

  h1,
  h3 {
    color: $color--three;
  }

  p,
  li {
    font-size: 1.125em;
  }

  & > div {
    border-bottom: $font-size--xsmall solid $color--one;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}

.copy-content {
  padding-bottom: $space--base;
  margin-right: auto;
  margin-left: auto; 
  max-width: 770px;
}

.bold-content {
  background-color: $color--one;
}

.carousel span {
  color: $color--three;
  font-size: 2em;
}

#intro {
  border-bottom: none;
  
  img {
    width: 18%;

    -moz-box-shadow:    7px 7px 7px -5px $color--black;
    -webkit-box-shadow: 7px 7px 7px -5px $color--black;
    box-shadow:         7px 7px 7px -5px $color--black;
  }
}

#research {
  border-bottom: none;

  img:first-of-type {
    width: 20%;
  }

  ul {
    text-align: left;

    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .image-copy {
    
    p {
      display: inline-block;
      vertical-align: middle;
    }
  
    img {
      width: 40%;
    }
  
    p {
      width: 50%;
    }
  }

  .carousel {
    img {
      width: 30%;
    }
  
    .carousel-item:first-of-type img {
      width: 40%;
    }
  
    .carousel-item:last-of-type {
      padding-bottom: .5em;
  
      img {
        width: 25%;
      }
    }
  
    span {
      color: $color--three;
      font-size: 2em;
    }
  
    .carousel-item:first-of-type {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
}

#design-principles {
  div div {
    width: 28%;
  }
}

#style {
  img {
    width: 40%;
  }
}

#results {
  border-bottom: none;

  .screenshots {
    div {
      width: 30%;
    }
    
    a {
      color: $color--three;
      text-decoration: underline;

      
    }
    
    img {
      width: 100%;
    }
  }

  .carousel {
    img {
      width: 20%;
    }
  }
}





