@import 'base';

.cambio-content {
  padding-top: 6.5em;

  h1 {
    font-family: $font--main;

    & + h3 {
      padding-top: 0;
    }
  }

  h2 {
    padding-bottom: $space--small;
    padding-top: $space--small;
    margin: 0;

    & + h3 {
      padding-top: 0;
    }
  }

  h3 {
    padding-top: $space--base;
    text-decoration: underline;
  }

  h1,
  h3 {
    color: $color--three;
  }

  p,
  li {
    font-size: 1.25em;
  }

  & > div {
    border-bottom: $font-size--xsmall solid $color--one;
    text-align: center;
  }

  ul {
    list-style-type: none;
    text-align: left;
    
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}

.copy-content {
  padding-bottom: $space--base;
  margin-right: auto;
  margin-left: auto; 
  max-width: 770px;
}

.bold-content {
  background-color: $color--one;
  -moz-box-shadow:    0 7px 7px -6px $color--black, 0 -7px 7px -6px $color--black;
  -webkit-box-shadow: 0 7px 7px -6px $color--black, 0 -7px 7px -6px $color--black;
  box-shadow:       0 7px 7px -6px $color--black, 0 -7px 7px -6px $color--black;
}

.two-image {
  padding-top: $space--base;

  img {
    width: 45%;
  }
}

.carousel span {
  color: $color--three;
  font-size: 2em;
}

#intro {
  border-bottom: none;
  
  img {
    width: 18%;

    margin: $space--small 0;

    -moz-box-shadow:    7px 7px 7px -5px $color--black;
    -webkit-box-shadow: 7px 7px 7px -5px $color--black;
    box-shadow:         7px 7px 7px -5px $color--black;
  }

  h2 {
    padding-top: 0; 
  }
}

#role {
  p {
    padding-bottom: 0;
  }
}

#research {
  border-bottom: none;

  img {
    -moz-box-shadow:    7px 7px 7px -5px $color--black;
    -webkit-box-shadow: 7px 7px 7px -5px $color--black;
    box-shadow:         7px 7px 7px -5px $color--black;
  }
  
  #img-stickies {
    width: 45%;
    margin-bottom: $space--base;
  }

  .image-copy {
    margin-bottom: $space--small;
    
    p {
      display: inline-block;
      vertical-align: middle;
      width: 45%;
    }
  
    img {
      width: 45%;
    }
  }

  .carousel {
    img {
      width: 30%;
    }
  
    .carousel-item:first-of-type img {
      width: 40%;
    }
  
    .carousel-item:last-of-type {
      padding-bottom: .5em;
  
      img {
        width: 25%;
      }
    }
  
    span {
      color: $color--three;
      font-size: 2em;
    }
  
    .carousel-item:first-of-type {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
}

#design-principles {
  div div {
    width: 28%;
  }
}

#wireframes {
  #journey_map {
    width: 100%;
    margin-bottom: $space--base;
  }

  .carousel {
    img {
      width: 30%;
    }

    .carousel-item:first-of-type {
      img {
        width: 40%;
      }
    }

    .carousel-item:last-of-type {
      img {
        width: 25%;
      }
    }
  }

}

#style {
  img:nth-child(3) {
    width: 60%;
  }
}

#results {
  border-bottom: none;

  .screenshots {
    div {
      width: 30%;
    }
    
    a {
      color: $color--three;
      text-decoration: underline;

      
    }
    
    img {
      width: 100%;
    }
  }

  .carousel {
    img {
      width: 20%;
    }
  }
}





