@import 'base';

#intro {
  background: $color--white url("../images/banner.jpg") no-repeat;
  background-size: cover;
  
  .welcome-content {
    color: $color--white;
    padding-top: 3em;
    padding-bottom: 6em;
  }

  .image-gradient {
    background-image: linear-gradient(rgba($color--four, .8), rgba($color--three, .5));
  
    height: 100%;
    width: 100%;
    
    position: relative;
    z-index: 1;
  }
}

#work {
  padding: $space--large 10em;

  .image-container {
    img {
      width: 100%;
    }
  }

  .text-container {
    padding: 0 $space--base;
  }
}

#about {
  padding: $space--base;

  svg.logo {
    font-size: 2em;
    fill: $color--black;

    padding-top: 0;
  }

  img {
    width: 50%;
  }
}
