$font--heading: 'Roboto', sans-serif;
$font--main:    'Open Sans', sans-serif;

$font-size--xlarge:  3.75em;
$font-size--large:   3em;
$font-size--base:    1.125em; 

$color--one:    #F5D547;
$color--two:    #ABABAB;
$color--three:  #113A83;
$color--four:   #B4B4BA;
$color--black:  #000000;
$color--white:  #FFFFFF;

p {
  font-size: $font-size--base;
}

a, 
a:link {
  text-decoration: none;
}

h1 {
  font-size: $font-size--xlarge;
}

h2 {
  font-size: $font-size--large;
  font-weight: 700; 
}

nav {
  background-color: $color--one;
  color: $color--three;

  padding: 0 1em;
  width: 100%;

  svg {
    background-color: $color--three;
    fill: $color--white;
    
    padding: 0 .5em;
    height: 4.25em;
    width: 3em;
  }

  .links {
    display: none;
    margin-right: 2em;
    padding-top: 1em;

    a {
      color: $color--three;
      font-size: $font-size--base;
      font-family: $font--main;

      margin-right: .25em;
    }
  }

}