$font--heading: sans-serif;
$font--main:    serif;

$font-size--xlarge:  3.75em;
$font-size--large:   2.188em;
$font-size--base:    1.125em; 

$color--one:    #44544D;
$color--two:    #322536;
$color--three:  #F0D9B9;
$color--black:  #000000;
$color--white:  #FFFFFF;


a, 
p {
  font-size: $font-size--base;
}

a:link {
  text-decoration: none;
}

h2 {
  font-size: $font-size--large;
  font-weight: 700; 
}

nav {
  color: $color--white;

  position: fixed;

  box-shadow: 0 0.25em 0.125em rgba($color--black, 0.2);
  padding: 0.5em 1em;
  width: 100%;
  z-index: 1;

  a {
    color: $color--white;
  }

  ul {
    list-style: none;

    li {
      margin-left: 1em;
    }
  }
}