$font--heading: 'Roboto', sans-serif;
$font--main:    'Open Sans', sans-serif;

$font-size--xlarge:  3.75em;
$font-size--large:   3em;
$font-size--base:    1.125em;
$font-size--medium:  0.75em;
$font-size--small:   0.5em;
$font-size--xsmall:  0.25em; 

$color--one:    #F5D547;
$color--two:    #ABABAB;
$color--three:  #113A83;
$color--four:   #B4B4BA;
$color--five:   #F3FBF5;
$color--black:  #000000;
$color--white:  #FFFFFF;


$space--base:   2em;
$space--medium: 1em;
$space--small:  0.5em;
$space--xsmall: 0.25em;

p {
  font-size: $font-size--base;
}

a, 
a:link {
  text-decoration: none;
}

h1 {
  font-size: $font-size--xlarge;
  font-weight: 700;
}

h2 {
  color: $color--three;
  font-size: $font-size--large;
  font-weight: 700; 
}

svg.logo {
  background-color: $color--three;
  fill: $color--white;
  
  padding: $space--small;
  height: 4.25em;
  width: 3.5em;
}

nav {
  background-color: $color--one;
  color: $color--three;

  padding: 0 $space--base;
  position: fixed;
  width: 100%;
  z-index: 5;

  .links {
    ul {
      list-style: none;
    }

    li:nth-child(2) {
      margin: 0 $space--medium
    }

    a {
      color: $color--three;
      font-size: $font-size--base;
      font-family: $font--main;

      margin-right: $space--xsmall;
    }
  }
}

#footer {
  background-color: $color--one;
  color: $color--three;

  padding: 0 $space--base;

  .social {
    list-style-type: none;
    width: $font-size--small;
   
    svg {
      color: $color--three;
      width: $font-size--base;
    }
  }

  
}