@import 'base';

.cambio-content {
  padding-top: 4em;

  h1 {
    font-family: $font--main;
  }

  h1,
  h3 {
    color: $color--three;
  }

  & > div {
    border-bottom: $font-size--xsmall solid $color--one;
    padding: $space--base;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}

#intro {
  
  // margin: 0 $space--base;

  div {
    padding: $space--base;
  }

  img {
    width: 25%;
  }
}

#challenge {
  background-color: $color--one;
}

#research {
  ul {
    text-align: left;

    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}

#design-principles {
  div div {
    width: 25%;
  }
}

#results {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


