.width-75 {
  width: 75%;
}

p,
li {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

a,
a:link {
  text-decoration: none;
}
a:hover,
a:link:hover {
  font-weight: 700;
}

h1 {
  font-weight: 700;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.75em;
  }
}

h2 {
  color: #113A83;
  font-size: 3em;
  font-weight: 700;
}

svg.logo {
  background-color: #113A83;
  fill: #FFFFFF;
  padding: 0.5em;
  height: 4.25em;
  width: 3.5em;
}

nav {
  background-color: #F5D547;
  border-bottom: 0.5em solid #113A83;
  color: #113A83;
  padding: 0 2em;
  position: fixed;
  width: 100%;
  z-index: 5;
}
nav .links ul {
  list-style: none;
}
nav .links li:nth-child(2) {
  margin: 0 1em;
}
nav .links a {
  color: #113A83;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  margin-right: 0.25em;
}

#footer {
  background-color: #F5D547;
  border-top: 0.5em solid #113A83;
  color: #113A83;
  border-bottom: none;
  padding: 0 2em;
}

.social {
  list-style-type: none;
}
.social svg {
  color: #113A83;
  width: 1.5em;
}
.social li {
  margin-right: 1em;
}
.social li:last-child {
  margin-right: 0;
}

.cambio-content {
  padding-top: 6.5em;
}
.cambio-content h1 {
  font-family: "Roboto", sans-serif;
}
.cambio-content h1 + h3 {
  padding-top: 0;
}
.cambio-content h2 {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin: 0;
}
.cambio-content h2 + h3 {
  padding-top: 0;
}
.cambio-content h3 {
  padding-top: 2em;
  text-decoration: underline;
}
.cambio-content h1,
.cambio-content h3 {
  color: #113A83;
}
.cambio-content p,
.cambio-content li {
  font-size: 1.25em;
}
.cambio-content > div {
  border-bottom: 0.25em solid #F5D547;
  text-align: center;
}
.cambio-content ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.copy-content {
  padding-bottom: 2em;
  margin-right: auto;
  margin-left: auto;
  max-width: 770px;
}

.bold-content {
  background-color: #F5D547;
  -moz-box-shadow: 0 7px 7px -6px #000000, 0 -7px 7px -6px #000000;
  -webkit-box-shadow: 0 7px 7px -6px #000000, 0 -7px 7px -6px #000000;
  box-shadow: 0 7px 7px -6px #000000, 0 -7px 7px -6px #000000;
}

.two-image {
  padding-top: 2em;
}
.two-image img {
  width: 45%;
}

.carousel span {
  color: #113A83;
  font-size: 2em;
}

#intro {
  border-bottom: none;
}
#intro img {
  width: 18%;
  margin: 0.5em 0;
  -moz-box-shadow: 7px 7px 7px -5px #000000;
  -webkit-box-shadow: 7px 7px 7px -5px #000000;
  box-shadow: 7px 7px 7px -5px #000000;
}
#intro h2 {
  padding-top: 0;
}

#role p {
  padding-bottom: 0;
}

#research {
  border-bottom: none;
}
#research img {
  -moz-box-shadow: 7px 7px 7px -5px #000000;
  -webkit-box-shadow: 7px 7px 7px -5px #000000;
  box-shadow: 7px 7px 7px -5px #000000;
}
#research #img-stickies {
  width: 45%;
  margin-bottom: 2em;
}
#research .image-copy {
  margin-bottom: 0.5em;
}
#research .image-copy p {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
}
#research .image-copy img {
  width: 45%;
}
#research .carousel img {
  width: 30%;
}
#research .carousel .carousel-item:first-of-type img {
  width: 40%;
}
#research .carousel .carousel-item:last-of-type {
  padding-bottom: 0.5em;
}
#research .carousel .carousel-item:last-of-type img {
  width: 25%;
}
#research .carousel span {
  color: #113A83;
  font-size: 2em;
}
#research .carousel .carousel-item:first-of-type {
  padding-top: 1em;
  padding-bottom: 1em;
}

#design-principles div div {
  width: 28%;
}

#wireframes #journey_map {
  width: 100%;
  margin-bottom: 2em;
}
#wireframes .carousel img {
  width: 30%;
}
#wireframes .carousel .carousel-item:first-of-type img {
  width: 40%;
}
#wireframes .carousel .carousel-item:last-of-type img {
  width: 25%;
}

#style img:nth-child(3) {
  width: 60%;
}

#results {
  border-bottom: none;
}
#results .screenshots div {
  width: 30%;
}
#results .screenshots a {
  color: #113A83;
  text-decoration: underline;
}
#results .screenshots img {
  width: 100%;
}
#results .carousel img {
  width: 20%;
}

/*# sourceMappingURL=cambio.css.map */
