body {
  background-color: black;
}

h1 {
  color: antiquewhite;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 5;
}

/* images */

img {
  opacity: .8;
  z-index: 1;
}

#face-right {
  left: 50%;
}

#face-left {
  right: 50%;
}

#face-right, 
#face-left {
  position: absolute;
}

#face-left {
  -webkit-animation: leftslide 5s linear 2s 1 normal; /* Safari 4.0 - 8.0 */
  animation: leftslide 2s linear 1.5s 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes leftslide {
  from {right: 50%;}
  to {right: 80%;}
}

/* Standard syntax */
@keyframes leftslide {
  from {right: 50%;}
  to {right: 80%;}
}

#face-right {
  width: 283px;
  height: 867px;
  -webkit-animation: rightslide 2s linear 1.5s 1 normal; /* Safari 4.0 - 8.0 */
  animation: rightslide 2s linear 1.5s 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes rightslide {
  from {left: 50%;}
  to {left: 80%;}
}

/* Standard syntax */
@keyframes rightslide {
  from {left: 50%;}
  to {left: 80%;}
}



/* Middle container */

.container-middle {
  color: antiquewhite;
  width: 33%;
  margin: auto;
  text-align: center;
}

ul {
  padding-top: 50%;
  opacity: .3;

  -webkit-animation: raiseopacity 5s linear 2s 1 normal; /* Safari 4.0 - 8.0 */
  animation: raiseopacity 2s linear 1.5s 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes raiseopacity {
  from { opacity: .3; }
  to { opacity: 1; }
}

/* Standard syntax */
@keyframes raiseopacity {
  from { opacity: .3; }
  to { opacity: 1; }
}
