@import 'base';

#home {
  background: $color--two url("https://images.unsplash.com/photo-1502252430442-aac78f397426?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat;
  background-size: cover;

  padding-top: 4em;
  height: 100vh;
  width: 100%;

  .image-gradient {
    background-image: linear-gradient(rgba($color--four, .8), rgba($color--three, .5));

    height: 100%;
    width: 100%;
    
    position: relative;
    z-index: 1;
  }

  .welcome-content {
    -moz-box-shadow:    0 5px 5px -5px $color--black;
    -webkit-box-shadow: 0 5px 5px -5px $color--black;
    box-shadow:         0 5px 5px -5px $color--black;

    border-bottom: .25em solid $color--one;
    color: $color--three;

    display: inline-block;
    padding: 5em 2em 0;
    margin-bottom: 5em;

    h1 {
      color: $color--white;
    }

    h2 {
      color: $color--three; 
    }

    h1,
    h2 {
      font-family: $font--heading;
      text-transform: uppercase;
      text-shadow: 0 0.1em 0.1em rgba($color--black, 0.5);
    }

    a {
      color: $color--white;
    }
  }

  #down-arrow {
    display: none;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;

    a {
      color: rgba($color--white, .7);
      font-size: 2em;
    }
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#work {
  display: none;
  height: 100vh;
  background-color: $color--two;
  h2 {
    padding-top: 2em;
  }
  img {
    width: 30%;
  }

  img:nth-child(2) {
    margin: 0 2%;
  }
}

// #contact {
//   a {
//     color: $color--one
//   }

//   a:hover {
//     color: $color--two;
//     text-decoration: underline;
//   }
// }
