.width-75 {
  width: 75%;
}

p,
li {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

a,
a:link {
  text-decoration: none;
}
a:hover,
a:link:hover {
  font-weight: 700;
}

h1 {
  font-weight: 700;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.75em;
  }
}

h2 {
  color: #113A83;
  font-size: 3em;
  font-weight: 700;
}

svg.logo {
  background-color: #113A83;
  fill: #FFFFFF;
  padding: 0.5em;
  height: 4.25em;
  width: 3.5em;
}

nav {
  background-color: #F5D547;
  border-bottom: 0.5em solid #113A83;
  color: #113A83;
  padding: 0 2em;
  position: fixed;
  width: 100%;
  z-index: 5;
}
nav .links ul {
  list-style: none;
}
nav .links li:nth-child(2) {
  margin: 0 1em;
}
nav .links a {
  color: #113A83;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  margin-right: 0.25em;
}

#footer {
  background-color: #F5D547;
  border-top: 0.5em solid #113A83;
  color: #113A83;
  border-bottom: none;
  padding: 0 2em;
}

.social {
  list-style-type: none;
}
.social svg {
  color: #113A83;
  width: 1.5em;
}
.social li {
  margin-right: 1em;
}
.social li:last-child {
  margin-right: 0;
}

body {
  background-color: #F3FBF5;
}

#home {
  background: #ABABAB url("https://images.unsplash.com/photo-1502252430442-aac78f397426?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat;
  background-size: cover;
}
#home .image-gradient {
  background-image: linear-gradient(rgba(180, 180, 186, 0.8), rgba(17, 58, 131, 0.5));
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}
#home .welcome-content {
  -moz-box-shadow: 0 5px 5px -5px #000000;
  -webkit-box-shadow: 0 5px 5px -5px #000000;
  box-shadow: 0 5px 5px -5px #000000;
  border-bottom: 0.25em solid #F5D547;
  color: #FFFFFF;
  display: inline-block;
  padding: 9em 2em 0.5em;
  margin-bottom: 4em;
}
#home .welcome-content h1,
#home .welcome-content h2 {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5);
}
#home .welcome-content h2 {
  margin-bottom: 0.5em;
}
#home .welcome-content svg {
  fill: #FFFFFF;
}
#home #down-arrow {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
#home #down-arrow a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 2em;
}
@media (min-width: 768px) {
  #home {
    padding-top: 4em;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
#home,
#work {
  height: 100vh;
  width: 100%;
}

#work {
  background-color: #FFFFFF;
  color: #113A83;
  height: 100vh;
  padding: 2em;
}
#work .content {
  padding-top: 3em;
}
#work h2 {
  color: #113A83;
}
#work .project {
  display: inline-block;
  width: 30%;
}
#work .project:first-of-type {
  width: 29%;
}
#work .project img {
  opacity: 0.7;
  width: 100%;
  -moz-box-shadow: 7px 7px 7px -5px #000000;
  -webkit-box-shadow: 7px 7px 7px -5px #000000;
  box-shadow: 7px 7px 7px -5px #000000;
}
#work .project a img:hover {
  opacity: 1;
}
#work .project p {
  font-size: 0.75em;
  margin-top: 0.5em;
}
#work .project a {
  color: #113A83;
  text-decoration: underline;
}
#work .project:first-child p a:hover span::before {
  content: "\3";
}

#about {
  color: #FFFFFF;
  background-color: #113A83;
  padding: 2em;
  padding-top: 5em;
}
#about h2 {
  color: #FFFFFF;
  margin-bottom: 0.5em;
}
#about p {
  width: 95%;
  margin-right: 2em;
}
#about p span {
  display: inline-block;
  width: 1em;
}
#about p:first-child,
#about span {
  font-size: 1.5em;
  color: #F5D547;
}
#about a {
  color: #F5D547;
}
#about p:nth-child(2) {
  margin-bottom: 0;
}
#about ul {
  color: #F5D547;
  margin-bottom: 0;
  margin-left: 1.5em;
}
#about ul li:nth-child(2) {
  padding: 0 2em;
}
#about img {
  -moz-box-shadow: 7px 7px 7px -5px #000000;
  -webkit-box-shadow: 7px 7px 7px -5px #000000;
  box-shadow: 7px 7px 7px -5px #000000;
  width: 30%;
}

/*# sourceMappingURL=style.css.map */
