@import 'base';

.site-wrapper {
  height: 100vh;
}

#home {
  width: 100%;
  padding: 0 5em;
  
  img { 
    height: 100%;
    width: 100%;
  }

  h1 {
    color: $color--white;
    font-weight: 700;
    text-shadow: 0.05em 0.05em 0.1em $color--three; 
    text-transform: uppercase;

    margin-top: 30vh;
  }
}

#work, 
#about, 
#contact {
  h2 {
    text-shadow: 0.125em 0.125em 0.125em rgba($color--black, 0.2); 
  }

  nav {
    color: $color--black;
  
    a {
      color: $color--black;
    }
  }
}

#work {
  img {
    height: 60%;
    width: 30%;
  }
}

#contact {
  a {
    color: $color--one
  }

  a:hover {
    color: $color--two;
    text-decoration: underline;
  }
}
